fieldset.header {
    background-color: lightgoldenrodyellow;
}
fieldset
{
    width: 500px;
    margin:auto;
}

.breadthVertical{
    margin-top: 10px;
    margin-bottom: 10px;
}

.breadthHorizontal{
    margin-right: 10px;
    margin-left: 10px;
}

div.todoStatusACTIVE{
    color : black;
    margin-bottom: 5px;
}

div.todoStatusCOMPLETE{
    color : green;
    text-decoration: line-through;
}
div.todoStatusDELETED{
    color : red;
    text-decoration: line-through;
}